---
import dp from "../assets/dp.png";
import instagram from "../assets/instagram.svg";
import linkedin from "../assets/linkedin.svg";
import github from "../assets/github.svg";
const { id } = Astro.props;
import resume from "../resume/web_dev.pdf";
---

<div
  id={id}
  class="min-h-screen min-w-full flex md:flex-row flex-col text-black font-serif bg-[#f7f7f7]"
>
  <!-- right-side-start -->
  <div
    class="flex md:justify-end justify-center items-center md:w-[50vw] md:h-[100vh] h-[400px] lg:px-20 px-10 bg-[#f7f7f7]"
  >
    <img src={dp} alt="" class="md:h-80 h-64 rounded-full" />
  </div>
  <!-- right-side-end -->
  <!-- left-side-start -->
  <div
    class="flex justify-center md:items-start items-center md:w-[50vw] md:h-[100vh] bg-[#f7f7f7] text-start flex-col gap-5 lg:p-20 p-4"
  >
    <h1 class="text-sm font-thin">HI THERE I'M</h1>
    <h1 class="text-5xl"><span class="text-[#8444df]">MOHD FAIZ</span> KHAN</h1>
    <h1 class="text-[#5f6f81] text-[18px] font-serif">
      A <span class="text-[#8444df]">Front-End Web Developer</span> passionate about
      <br /> creating interactive applications and experiences on <br /> the web.
    </h1>
    <div class="flex flex-row gap-20 flex-wrap justify-center items-center">
      <a
        class="bg-[#8444df] text-white p-3 px-12 rounded-full transition-all ease-linear delay-200 hover:shadow-2xl border duration-200"
        href={resume}
        target="_blank">Resume</a
      >
      <div class="flex flex-row gap-5 items-center justify-center">
        <a href="https://github.com/mfaizk" target="_blank">
          <img
            src={github}
            alt=""
            class="h-[40px] bg-white p-1 rounded-md transition-all ease-linear delay-200 hover:shadow-2xl border duration-200"
          />
        </a>

        <a href="https://www.instagram.com/m0hd_fa1z/" target="_blank">
          <img
            src={instagram}
            alt=""
            class="h-[40px] bg-white p-1 rounded-md transition-all ease-linear delay-200 hover:shadow-2xl border duration-200"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/mohd-faiz-khan-441945219"
          target="_blank"
        >
          <img
            src={linkedin}
            alt=""
            class="h-[40px] bg-white p-1 rounded-md transition-all ease-linear delay-200 hover:shadow-2xl border duration-200"
          />
        </a>
      </div>
    </div>
  </div>
  <!-- left-side-end -->
</div>
